* {
    box-sizing: border-box;
    margin: 10px;
    
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-style: normal;
    padding: 60px;
}

.todo {
    background-color: #ff9db9;
    padding: 15px;
    border-radius: 25px;
    border: 3px solid #f65886;
    box-shadow: 0 4px 6px rgba(212, 94, 128, 0.8);
}

header {
    padding: 80px;
    text-align: center;
    background-color: white;
    border: 3px solid #f65886 ;
    color: #f65886;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(212, 94, 128, 0.8);
}

h1 {
    text-align: center;
    font-size: clamp(20px, 4vw, 40px);
}

h2 {
    color: #0D0107;
    font-size: clamp(18px, 4vw, 35px);
}

p{
    color: #0D0107;
    font-size: clamp(12px, 4vw, 18px);
}

nav {
    overflow: visible;
    position: sticky;
    top: 10px;
    display: flex;
    z-index: 999;
    flex-wrap: wrap;
    background: linear-gradient(#ffbed1, #ff79a0 50%);
    border: 3px solid #f65886;
    justify-content: center;
    border-radius: 100px;
    box-shadow: 0 4px 6px rgba(212, 94, 128, 0.8);
    box-sizing: border-box;
}

nav a {
    float: left;
    font-size: clamp(10px, 4vw, 16px);
    color: #f65886;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: linear-gradient(#ffffff, #ffd5e1 70%);
    border: 3px solid #f65886;
    border-radius: 100px;
    box-sizing: border-box;
}

.subnav {
    display: flex;
    flex: 1;
    position: relative;
    margin: 10px;   
    align-items: center;
    justify-content: center;
    min-width: 100px;
    background: linear-gradient(#ffbed1, #ff79a0 70%);
    border: 3px solid #f65886;
    border-radius: 100px;
    box-sizing: border-box;
}

.subnav .subnavbtn {
    font-size: clamp(10px, 4vw, 16px);
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    text-align: center;
    margin: 0;
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    overflow: hidden;
}

.subnav a:hover, .subnavbtn {
    background: linear-gradient(#ffbed1, #fb6893 70%);
    border: 1px solid #f65886;
    border-radius: 100px;
}

nav a:hover {
    background: linear-gradient(#ffffff, #efacc0 70%);
    border: 3px solid #f65886;
    border-radius: 100px;
}

/* ventana q se despliega del submenu */
.subnav-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    background-color: #fff;
    border: 3px solid #f65886;
    border-radius: 20px;
    width: 100%;
    min-width: 150px;
    z-index: 1000;
    box-sizing: border-box;
}

/* Style the subnav links */
.subnav-content a {
    display: block;
    color: #cf456d;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.subnav-content:hover {
    background-color: #eee;
    color: #bb2954;
    display: flex;
    flex: 1;
}

.subnav:hover .subnav-content {
    display: flex;
    flex-direction: column;
}

.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    justify-content: center;
}

.row img{
    padding-right: 7px;
    padding-left: 7px;
    box-sizing: border-box;
}

.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 33%;
    padding: 4px;
}

.column img {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
}


.about, .about * {margin: 0; padding: 0;}
.about {
    background-color: #ffffff;
    background-image: url(imagenes/lineas.gif);
    width: 100%;
    display: inline-block;
    border-radius: 20px;
    padding: 4%;
    border: 3px solid #f65886;
    box-shadow: 0 4px 6px rgba(212, 94, 128, 0.8);
    color: #f65886;
}

.wrapper {width: 75%; height: auto; margin: 0px auto; overflow: hidden;}
.slider, .slider * {margin: 0; padding: 0;}
.slider {width: 100%;}
.slider li {width: 100%; float: left;}
.slider img {width: 100%; height: auto;}
.slider ul {list-style-type: none; width: 500%; display: flex; animation: slider 15s infinite alternate;}
    @keyframes slider {
			0% {margin-left:0;}
			20% {margin-left:0;}
			25% {margin-left:-100%;}
			40% {margin-left:-100%;}
			45% {margin-left:-200%;}
			60% {margin-left:-200%;}
			65% {margin-left:-300%;}
			80% {margin-left:-300%;}
			85% {margin-left:-400%;}
			100% {margin-left:-400%;}
		}

#slider {   
    width: 30%;
    display: inline-block;
    background-color: #FFF0F6;
    padding: 10px;
    padding-bottom: 25px;
    height: auto;
    border-radius: 25px;
    border: 3px solid #f65886;
    box-shadow: 0 -4px -6px rgba(212, 94, 128, 10);
    overflow: auto;
    box-sizing: border-box;
}

#mastrabajos {   
    width: 65%;
    display: inline-block;
    background-color: #FFF0F6;
    color: hotpink;
    padding: 20px;
    padding-bottom: 30px;
    height: auto;
    border-radius: 25px;
    border: 3px solid #f65886;
    box-shadow: 0 4px 6px rgba(212, 94, 128, 0.8);
    box-sizing: border-box;
    overflow: auto;
    word-wrap: break-word;
    font-size: clamp(12px, 4vw, 20px);
    text-align: center;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: deeppink;
    text-decoration: none;
}

a:active {
    color: deeppink;
    text-decoration: none;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    
    #slider, #mastrabajos {
        width: 100%;
        display: block;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    nav {
        position: relative;
    }
    .row {   
      flex-direction: column;
  }
    body {
        margin: 10px;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    
    body {
        margin: 3px;
    }
    
    .todo{
        margin: 3px;
    }
    
    nav {
        position: relative;
    }
    
    nav a {
        padding: 6px 8px;
        word-wrap: break-word;
        float: none;
        width: 85%;
    }
    
    .subnav .subnavbtn {   
        padding: 6px 8px;
        word-wrap: break-word;
        float: none;
    }
    
    .subnav-content a{
        padding: 6px 8px;
        word-wrap: break-word;
        float: none;
    }
    
    header {
        padding: 10px;
        
    }
    
    h1 {
        overflow: auto;
        word-wrap: break-word;
    }

    footer {
        padding: 10px;
    }
}



.tabs-container {
  display: flex;
}

.tab {
   width: 30%;
  display: flex;
  flex-direction: column;
    background: linear-gradient(#ffbed1, #ff79a0 90%);
    border-radius: 20px;
    border: 3px solid #f65886;
    height: 100%;
}

.contenido {
  width: 70%;
     background-color: #ffffff;
    border-radius: 20px;
    border: 3px solid #f65886;
}

.tabcontent {
  display: none; 
  padding: 10px;
}

.tab button {
  transition: 0.3s;
}

.tab button:hover {
  background: linear-gradient(#ffa6c0, #e95f87 70%);
  color: white;
    border: 3px solid #f65886;
}

.tablinks {
     background: linear-gradient(#ffbed1, #ff79a0 70%);
    border-radius: 60px;
    border: 3px solid #f65886;
    height: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.tablero {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}




/* Style the Image Used to Trigger the Modal */
.myimg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myimg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(212, 94, 128, 0.8); /* Black w/ opacity */
    margin: -10px;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.column {
    display: flex;
    flex-direction: column;
}




.mySlides1 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
    width: 100%;
  position: relative;
  margin: auto;
    align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ff93b2;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
    align-items: center;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}




.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: -10px;
  left: 10px;
  right: 0;
  background-color: #f65886;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.mySlides1:hover .overlay {
  width: 50%;
}

.text {
  color: white;
    display: inline-block;
  font-size: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
    text-align: left;
    margin: 20px; 
}





#expandedImg {
  cursor: pointer; 
}

.columnas {
  float: left;
  width: 25%;
  padding: 10px;    
}

/* Style the images inside the grid */
.columnas img {
  opacity: 0.8; 
}

.columnas img:hover {
  opacity: 1;
}

.portadas {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

/* Clear floats after the columns */
.portadas:after {
  content: "";
  display: table;
  clear: both;
  
}

/* The expanding image container */
.caja {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}





#calendario {
    width: 60%;
}










